@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

.green-container {
  width: 420px;
  height: 100px;
  background-color: #134601;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 26px;
}

.weath-icon {
  width: 100px;
  height: 100px;
}

.date-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.temp {
  width: 118px;
  line-height: 72px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  color: #ffffff;
  padding-right: 25px;
}

.day {
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin: 0;
}

.date {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}


@media screen and (max-width: 500px) {
  .green-container {
    width: 347px;
    height: 100px;
    background-color: #134601;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 28px;
  }
  
  .weath-icon {
    width: 80px;
    height: 80.34px;
  }
  
  .date-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .temp {
    width: 118px;
    height: 72px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    color: #ffffff;
    padding-right: 10px;
  }
  
  .day {
    color: #ffffff;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin: 0;
  }
  
  .date {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    margin: 0;
  }
}
